<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chirp.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @chirp.body %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @chirp.topic %>
</p>

<p>
  <strong>User:</strong>
  <%= @chirp.user %>
</p>

<%= link_to 'Edit', edit_chirp_path(@chirp) %> |
<%= link_to 'Back', chirps_path %>
