<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @user.handle %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<p><%= link_to "#{@user.handle}'s chirps", {:controller => "users", :action => "show_chirps", :user => @user } %></p>
<p><%= link_to "#{@user.handle}'s comments", {:controller => "users", :action => "show_comments", :user => @user }  %></p>
